.mainSlide {
  //margin-top: 100px;
  width: 460px;
  height: 100%;
}

img {
  margin: auto;
  width: 196px;
  display: block;
}

ion-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

ion-button {
  width: 172px;
  display: block;
  margin: auto;
}

p {
  font-size: medium;
  text-align: justify;
}
