<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Mandos de Tranformación </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <div class="imgcenter">
              <img [src]="imgconvert64" />
            </div>
            <ion-card-header>
              <ion-card-title class="fontcolortitle">
                Imágen Estilizada
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list-header>Modelador</ion-list-header>
          <hr />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label class="title-block">Cargar Modelador:</ion-label>
          <div class="recuadro">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="2">
                  <ion-label color="secondary">3.</ion-label>
                </ion-col>
                <ion-col size="10">
                  <ion-chip outline color="secondary" (click)="modelo()">
                    <ion-icon name="speedometer-outline"></ion-icon>
                    <ion-label class="label-bold">Cargar </ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ion-card>
            <div class="imgcenter">
              <img [src]="imgmodelt64" />
            </div>
            <ion-card-header>
              <ion-card-subtitle class="fontcolor">
                Imágen del Modelador
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="8">
          <ion-label class="title-block">Mandos del Modelador</ion-label>
          <ion-grid fixed class="recuadro dos">
            <ion-row>
              <ion-col size="12">
                <ion-label color="secondary">
                  4. Herramientas de Modelado
                </ion-label>
                <form
                  (ngSubmit)="convert(fconv)"
                  #fconv="ngForm"
                  class="modelside"
                >
                  <ion-label>a) Elemento Inicial:</ion-label>
                  <ion-input
                    type="text"
                    [(ngModel)]="elemento.neutral"
                    name="cliente"
                    color="secondary"
                    required="true"
                    minlength="3"
                    placeholder="Ej.: face with eyes"
                  ></ion-input>
                  <ion-label>b) Elemento Buscado:</ion-label>
                  <ion-input
                    class="ion-margin-bottom"
                    [(ngModel)]="elemento.target"
                    name="description"
                    color="secondary"
                    required="true"
                    minlength="3"
                    placeholder="Ej.: face with blue eyes"
                    required
                  ></ion-input>
                  <p>* Los Campos son obligatorios</p>

                  <ion-row>
                    <ion-col size="12">
                      <ion-label>
                        c) Fuerza: {{(elemento.fuerza).toFixed(1)}}
                      </ion-label>
                      <ion-range
                        min="-10"
                        max="10"
                        step="0.2"
                        [(ngModel)]="elemento.fuerza"
                        name="fuerza"
                      >
                        <ion-label color="secondary" slot="start">-10</ion-label>
                        <ion-label color="secondary" slot="end">10</ion-label>
                      </ion-range>
                      <ion-label>
                        d) Canales: {{(elemento.canal).toFixed(2)}}
                      </ion-label>
                      <ion-range
                        min="0.08"
                        max="0.3"
                        step="0.02"
                        [(ngModel)]="elemento.canal"
                        name="canal"
                      >
                        <ion-label color="secondary" slot="start">0.08</ion-label>
                        <ion-label color="secondary" slot="end">0.3</ion-label>
                      </ion-range>
                    </ion-col>
                  </ion-row>
                  <ion-button
                    block
                    type="submit"
                    shape="round"
                    fill="outline"
                    color="secondary"
                  >
                    <ion-icon
                      name="caret-forward-circle-outline"
                      class="ion-margin-end"
                    ></ion-icon>
                    Procesar
                  </ion-button>
                </form>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
