ion-fab {
  margin-top: 5px;
  margin-right: 5px;
}

ion-card {
  margin-top: 0px;
  background-color: var(--ion-color-primary-shade);
}

ion-list-header {
  color: var(--ion-color-primary);
}

ion-chip {
  margin-bottom: 12px;
  border: 1px solid;
}

.label-bold {
  font-weight: 500;
}

.imgcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-left: 3px;
  padding-right: 3px;
  img {
    margin-top: 3px;
    width: 100%;
    border-radius: 10px;
  }
}

hr {
  background-color: var(--ion-color-tertiary);
  height: 3px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.title-block {
  color: var(--ion-color-secondary-shade);
  font-size: large;
  font-weight: 500;
}

.label-title {
  color: var(--ion-color-tertiary);
  font-size: larger;
  margin-left: 15px;
  margin-top: 10px;
}

.recuadro {
  margin-top: 0px;
  margin-bottom: 40px;
  border: 2px solid;
  border-radius: 5%;
  padding: 5% 0% 0% 5%;
  border-color: var(--ion-color-tertiary);
  ion-col {
    padding: 0px 0px 15px 0px;
  }
  ion-item {
    margin-bottom: 10px;
  }
  p {
    color: var(--ion-color-tertiary);
    font-size: small;
  }
}

.fontcolor {
  color: var(--ion-color-tertiary-tint);
  font-weight: 700;
  font-size: medium;
}

.fontcolortitle {
  color: #d7d8da;
}
